[Unit]
Description=ssr service
After=network.target

[Service]
#Type=forking
#PIDFile=
#ExecStart=
#ExecStop=

Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s "ssr server" -n "ssr window" /usr/bin/python /root/shadowsocksr/server.py
ExecStop=/usr/bin/tmux kill-session -t 'ssr server'

#Type=simple
#ExecStart=
#ExecStop=

#Environment=
[Install]
WantedBy=multi-user.target
